
:root {
    --green: #73ba3c;
    --hoverGreen: #528728;
    --orange: #F99415;
    --red: #e75a5a;
    --text: #fff;
    --border: 1px solid rgba(151, 158, 162, 0.3);
    --radius: 6px;
    --border-color: rgba(151, 158, 162, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.heading {
    margin-bottom: 1rem;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-bottom: 40px;
}

.row .card {
    width: calc(960px / 3);
    flex-grow: 1;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    transition: .4s box-shadow;
    background: #fff;
    border-radius: var(--radius);
    border: var(--border);

    cursor: grab;
    transition: background-color 250ms linear;

}

.card.dragging {
    opacity: 0.5;
}

.card.done {
    background: var(--green);
    color: var(--text); 
    
}

.card:hover.done {
    background: var(--hoverGreen);
}

.card:hover {
    /* background: var(--hoverGreen); */
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0,0,0,.22);
}

.progress {
    margin: 0 auto 1rem;
}

.progess-bar {
    position: relative;
    left: 0;
    right: 0;
    height: 30px;
    border: var(--border);
    border-radius: var(--radius);
}

.prodress-value {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #000;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    transition: .5s width;
}

.modal {
    display: none;
}

.modal.open {
    display: block;
    position: fixed;
    top: 50px;
    transform: translateX(-50%);
    left: 50%;
    width: 500px;
    background: #fff;
    z-index: 200;
    padding: 1.5rem;
    border-radius: var(--radius);
}

.modal h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.modal p {
    margin-bottom: 1rem;
}

.modal hr {
    margin-bottom: 1rem;
    border: none;
    height: 2px;
    background-color: var(--border-color);
}

.modal.open + .modal-backdrop {
    display: block;
}

.modal-backdrop.open {
    display: block;
}

.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
}

.empty {
    margin-bottom: 2rem;
    color: green;
}


.form {
    display: none;
}

.form.open {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 100px;
    background: #fff;
    border-radius: var(--radius);
    border: var(--border);
    padding: 1.5rem;
    width: 600px;
    transform: translateX(-50%);
    z-index: 200;
    box-shadow: 4px 4px 8px rgba(0,0,0,.22);
    
}

.form.open + .modal-backdrop {
    display: block;
}

.form-control label {
    font-size: 14px;
    display: block;
    margin-bottom: .5rem;
}

.form-control input, .form-control textarea {
    display: block;
    width: 100%;
    border: var(--border);
    resize: none;
    padding: .75rem;
    margin-bottom: 1rem;
    border-radius: var(--radius);
    background: #f7f7f7;
    font-family: inherit;
    transition: .22s background;
    outline: none;
}

.form-control:hover input, 
.form-control:hover textarea {
    border-color: #73BA3C;
    transform: 3s ease;
}

.form-control input:focus, 
.form-control textarea:focus {
    background: #fff;
}

.form-control input.invalid, 
.form-control textarea.invalid {
    animation: validate 2s;
}

@keyframes validate {
    0% {
        border: 1px solid var(--red);
    }

    50% {
        border: 1px solid var(--red);
    }

    100% {
        border: var(--border);
    }
}

.heading_btn {
    display: block;
    margin: 0 auto;
    font-size: 26px;
    font-family: inherit;
    padding: .7rem 2rem;
    color: #fff;
    border: 1px solid #ccc;
    background: #4D5AE5;
    border-radius: var(--radius);
    width: 50%;
    height: 60px;
    transition: background-color 250ms linear;
}

.btn { 
    font-family: inherit;
    padding: .7rem 2rem;
    border: 1px solid #ccc;
    color: var(--text);
    background: #4D5AE5;
    border-radius: var(--radius);
    transition: background-color 250ms linear;
    text-align: center;
}

.btn:focus,
.heading_btn:focus {
    outline: none;
    background: #404bbf;
    color: var(--text);
}

.btn:hover,
.heading_btn:hover {
    border-color: var(--text);
    background: #404bbf;
    color: var(--text);
    cursor: pointer;
}

